<div id="root" style="position: absolute;left: 0px;top: 0px;width: 100vw;height: 100vh;background-Image: url({{ "common.bg.gif" | asset_url }});background-position: center;overflow: hidden;">
</div>

{% schema %}
  {
    "name": "404 Settings"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}